/.idea/
/test/coverage/
/vendor/

/.env
/domains.txt
/index.html
/mail-config.php
/results.html
/results.json
/results.twig
/results.xml
/stan.log
/test/.phpunit.cache
/test/.phpunit.result.cache
/test/phpunit.xml.bak
